<!DOCTYPE html>
<html ng-app="review">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="public/css/stacked.css">
</head>
<body>
	
	<div class="review-card-container stacked" ng-controller="cardReviewStack">
		<div class="review-card">
			<div class="card-face card-{{index}}" ng-repeat="(index, question) in questions" ng-class="[{'active': currentCard == index}, beforeClass(index)]">
				<div class="inner">
					<div class="thumb">
						<div class="photo" ng-style="{'background-image': 'url('+question.thumbnail+')'}"></div>
					</div>
					<div class="content">
						<h3>{{index+1}}. {{question.title}}</h3>
						<div class="desc"><p>{{question.desc}}</p></div>
						
						<div class="star-rating" ng-if="question.type=='stars'" ng-click="setCard( index+1 >= questions.length ? 0 : index+1)">
							<stars-rating></stars-rating>
						</div>

						<div class="thumb-rating" ng-if="question.type=='thumbs'" ng-click="setCard( index+1 >= questions.length ? 0 : index+1)">
							<span class="thumb" ng-repeat="item in question.rating">
								<span class="photo" ng-style="{'background-image': 'url('+ item +')'}"></span>
							</span>
						</div>
						<div class="text-review" ng-if="question.type=='text'">
							<textarea ng-keyup=""></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="public/js/bundle.js"></script>
</body>
</html>